*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    width:90%;
    margin:auto;
}
.hr1{
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid black;
    padding:0;
}
.newslink{
    margin-top: 20px;
    background-color: black;
    color:white;
    text-align: center;
    width:10%;
    padding:5px;
    margin-left: 30px;
}
h1{
    font-size: 100px;
 
    font-weight:400;
    text-align:center;
    margin:0;
}
.ad{
    font-size: 20px;
    text-align:center;
    letter-spacing: 2px;
    margin-top:0;
    text-transform: uppercase;
    font-style: italic;
    background-color: black;
    color:white;
    width:85%;
    margin:auto;
}
span{
    color:teal;
    font-family: 'Roboto Slab',serif;
    font-weight: 900;

}
.date{
    float: left;
    font-weight: 500;
    margin-top:10px;
    font-size:20px;
}
.edition{
    float: right;
    font-weight: 500;
    margin-top:10px;
    font-size:20px;
}
.hr2{
    margin-top: 40px;
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid black;
    padding:0;

}

.hr3{
    margin-top:20px;
    display:block;
    height: 1px;
    border:0;
    border-top: 1px solid black;
    padding: 0;
}
.page-no{
    background-color:black;
    color:white;
    text-align: center;
    width: 5%;
    padding: 3px;
    margin-left: 1300px;
}

.newspaper{
    column-count:2;
    text-align:justify;
  }
  .newspaper p:first-of-type:first-letter{
    font-size:3em;
    float:left;
    line-height:50%;
    margin:0.1em;
  }
  .newspaper h2{
    column-span:all;
  }
  .newspaper img{
    width:100%;
    height:auto;
  }
